* {
  box-sizing: border-box;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #2d313a;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #282c34;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.media {
  display: flex;
  flex-direction: column;
  width: 220px;
  padding: 5px;
  margin: 5px 0;
  background-color: #2d313a;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  font-family: "Montserrat", sans-serif;
}

@media (max-width: 550px) {
  .media {
    width: 46%;
  }
}

/* .badgeIcon {
  color: rgb(82, 182, 36);
  z-index: 100;
  padding-top: 8px;
} */

.poster {
  border-radius: 10px;
  justify-content: space-around;
}

/* 
.media {
  background-color: #373b69;
  border-radius: 8px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  position: relative;
  margin: 1rem;
  width: 220px;
}

@media (max-width: 550px) {
  .media {
    width: 46%;
  }
}

.media img {
  object-fit: cover;
  border-radius: 4px;
  overflow: hidden;
  width: 100%;
} */

.title {
  display: flex;
  justify-content: center;
  width: 100%;
  font-size: 19px;
}

.subTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  padding: 8px 10px;
}

.media-search:focus {
  outline: none;
}

.media-search {
  border: 2px solid #22254b;
  border-radius: 50px;
  background-color: transparent;
  color: white;
  font-family: inherit;
  font-size: 1.2rem;
  padding: 0.5rem 1.5rem;
}

.media-overview {
  text-align: center;
  line-height: 1.5;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  background-color: #373b69;
  box-shadow: 0 -3px 5px rgba(0, 0, 0, 0.1);
  transform: translateY(102%);
  transition: transform 0.3s ease-in-out;
  border: 2px solid #4b51a8;
  position: absolute;
  color: #ffffff;
  padding: 1rem;
  bottom: 0;
  left: 0;
  right: 0;
  max-height: 100%;
  overflow: auto;
}

/* .media-overview h2,
p {
  color: transparent;
} */

.media:hover .media-overview {
  transform: translateY(0%);
}

.tag {
  display: flex;
  flex-shrink: 0;
  justify-content: flex-end;
  padding: 0.5rem;
  font-weight: bold;
  border-radius: 50px;
}

.tag.green {
  border: none;
  margin: none;
  padding: none;
  color: rgb(5, 184, 5);
}

.tag.orange {
  border: none;
  margin: none;
  padding: none;
  color: orange;
}

.tag.red {
  border: none;
  margin: none;
  padding: none;
  color: red;
}
